*, *::before, *::after {
    box-sizing:border-box;
}

body {
    background-color: #f3f3f3;
}

.container .ql-editor {
    width: 8.5in;
    min-height: 11in;
    padding: 1in;
    margin: 1rem;
    box-shadow:  0 0 5px 0 rgba(0, 0, 0, .5);
    background-color: white;
}

.container .ql-container.ql-snow {
    border: none;
    display: flex;
    justify-content: center;

}

.container .ql-toolbar.ql-snow {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f3f3f3;
    box-shadow:  0 0 5px 0 rgba(0, 0, 0, .5);
}

@page{
    margin: 1in;
}

@media print {
    body{
        background: none;
    }

    .container.ql-editor {
        width: 6.5in;
        height: 9in;
        padding: 0;
        margin: 0;
        box-shadow: none;
        align-self: flex-start;

    }
    .container.ql-container.ql-snow{
        display: none;
    }
    .sidebar-container{
        display: none;
    }
}

.sidebar-container {
    position: sticky;
    top: 0;
    height:100vh;

    z-index: 1000; /* Ensure the sidebar is above other content */
}


.perspective-1000 {
    perspective: 1000px;
  }
  
  .carousel-item {
    transform-style: preserve-3d;
  }

  
/* .divider-text{
position: relative;
  text-align: center;
}
.divider-text:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #000000;
  }
  
.divider-text span {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #000000;
    z-index: 9;
  } */


